@font-face {
  font-family: 'Gotham-Black';
  src: local('Gotham-Black'), url('./fonts/GothamBold.ttf')
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
